@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light">
    <h1 class="display-4">
        Bem vindo
    </h1>
    <svg class="me-3" bootstrap-icon="Boxes" width="120" height="120" aria-label="Alarms"></svg></>
</div>
